.page {
  min-width: 1100px;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  /* Agrega las propiedades flex aquí */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.nav__logo {
  width: 58px;
  height: 80px;
}

.nav__links {
  /* Restablece los estilos predeterminados de list aquí */
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-top: 8px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__content {
  /* Agrega las propiedades flex aquí */
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.header__title {
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  max-width: 635px;
  margin-top: 128px;
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  max-width: 515px;
  margin-top: 32px;
}

.header__image {
  max-width: 636px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-top: 32px;
  margin-top: auto;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

.staff {
  background-image: url("../images/staff_picks_background.jpg");
  padding: 100px 0 140px;
  background-size: cover;
  background-position: center;
}

.staff__title {
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  font-weight: 400;
  margin: 0 0 24px;
  color: #ffffff;
}

.staff__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}

.staff__cards {
  max-width: 760px;
  margin: 68px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  padding-left: 0;
}
/* Agrega la regla CSS para tu nueva clase aquí. Asegúrate de colocarlo antes de .card:, los padres deben preceder a sus hijos */

.card {
  background-color: #fff;
  border-radius: 6px;
  padding: 32px 40px 20px 32px;
  box-sizing: border-box;
  width: 360px;
  height: 420px;
}

.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.card__text {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 24px;
}

.card__footer {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #838383;
}
